PORT=5000

# Env (Options: local | production | development )
NODE_ENV=

# MongoDB Configuration (Online MongoDB Atlas)
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DB_NAME=
MONGODB_URI=

JWT_SECRET=
EXPIR_IN=

# LLM Configuration (Options: gemini | groq | openai)
LLM_PROVIDER=gemini

GEMINI_API_KEY=
GEMINI_MODEL=

GROQ_API_KEY=
GROQ_MODEL=

OPENAI_API_KEY=
OPENAI_BASE_URL=
